<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>고객 추가</title>
  </head>
  <body>
    <form method="post" action="/customer/confirm">
      <% if @message %>
        <b><%= @message %></b>
      <% end %>
      <h3>고객 정보를 입력하여 주십시오.</h3>
      <label for="company_form">회사명 : </label>
      <input type="text" name="company" id="company_form" value="<%= @company %>" /><br/>
      <label for="fullname_form">성명 : </label>
      <input type="text" name="fullname" id="fullname_form" value="<%= @fullname %>" /><br/>
      <label for="email_form">메일 주소 : </label>
      <input type="text" name="email" id="email_form" value="<%= @email %>" /><br/>
      <input type="submit" name="submit" value="입력내용 확인" />
    </form>
  </body>
</html>
