<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>서비스 리퀘스트가 작성되었습니다.</title>
  </head>
  <body>
    <h3>아래의 서비스 리퀘스트가 작성되었습니다.</h3>
    <label>제품 : </label><%= @product %><br />
    <label>개요 : </label><%= @title %><br />
    <a href="/">탑 화면으로 돌아가기 </a>
  </body>
</html>
