<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>로그인</title>
  </head>
  <body>
    <form method="post" action="/login">
      <% if @message %>
        <b><%= @message %></b>
      <% end %>
      <h3>메일 주소를 입력하여 주십시오.</h3>
      <label for="email_form">메일 주소 : </label>
      <input type="text" name="email" id="email_form" value="<%= @email %>" /><br/>
      <input type="submit" name="submit" value="로그인" />
    </form>
  </body>
</html>
