<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>어서오세요</title>
  </head>
  <body>
  <ul>
    <li><a href="/service/new">서비스 리퀘스트의 등록</a></li>
    <li><a href="/logout">로그아웃</a></li>
    <li>이하 개발중</li>
  </ul>  
  </body>
</html>
