<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>어서오세요</title>
  </head>
  <body>
  <ul>
    <li><a href="customer/register">고객 정보 등록</a></li>
    <li><a href="customer/list">고객 일람</a></li>
    <li><a href="/logout">로그아웃</a></li>
    <li>이하 개발중</li>
  </ul>  
  </body>
</html>
